QWidget {
    color: white;
}

QLineEdit#input_field {
    padding: 8px;
    border-radius: 5;
    background-color: #393E46;
}

QPushButton#answer_btn {
    border: none;
    color: white;
    border-radius: 5;
    background-color: #188BDB;
}