QLabel#name {
    color: white;
    font-size: 18px;
    font-weight: bold;
}

QLabel#email {
    font-size: 14px;
    color: #A9A9A9;
}

QPushButton#role_admin {
    border: none;
    font-size: 14px;
    color: #00ADB5;
    background-color: transparent;
}

QPushButton#role_user {
    border: none;
    font-size: 14px;
    color: #A9A9A9;
    background-color: transparent;
}

QFrame#bottom_container {
    background-color: #232931;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
}

QFrame#line {
    background-color: #393E46;
}
