QPushButton {
    border: none;
    background-color: transparent;

    background-color: #393E46;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}

QPushButton#page_button:hover {
    border: 1px solid #00ADB5;
}

QPushButton#page_button_disabled {

}

QLabel#page_button_caption {
    color: #EEEEEE;
    font-size: 14px;
    font-weight: bold;
}