QLabel#name {
    color: white;
    font-size: 18px;
    font-weight: bold;
}

QLabel#email {
    font-size: 14px;
    color: #A9A9A9;
}

QLabel#role {
    font-size: 14px;
    color: #A9A9A9;
}

QFrame#bottom_container {
    background-color: #232931;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
}

QFrame#line {
    background-color: #393E46;
}

QPushButton {
    border: none;
    background-color: transparent;
}

QPushButton#page_button {
    background-color: #393E46;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}

QPushButton#page_button:hover {
    border: 1px solid #00ADB5;
}

QLabel#page_button_caption {
    font-size: 14px;
    font-weight: bold;
}