QLabel#title {
    color: #EEEEEE;
    font-size: 50px;
    font-weight: bold;
}

QLabel#subtitle {
    color: #EEEEEE;
    font-size: 16px;
}

QPushButton#login{
    border: none;
    background-color: #185ADB;
    color: white;
    font-weight: bold;
    border-radius: 25;
    font-size: 18px;
}

QLabel#down{
    color: white;
    font-weight: bold;
    font-size: 14px;
}

QPushButton#register{
    border: none;
    color: #188BDB;
    font-weight: bold;
    font-size: 14px;
}

QWidget {
    color: white;
}