QFrame#f {
  background-color: #17191d;
  border-radius: 95px;
  }

QPushButton {
  border-radius: 25px;
  background-color: #188bdb;
  color: #EEEEEE;
  font-size: 18px;
  font-weight: bold;
}

QLabel {
  background-color: #17191d;
  color: #EEEEEE;
  font-size: 35px;
  font-weight: bold;  
}

QLabel#l {
  background-color: #232931;
  font-size: 25px;
  font-weight: bold;
}

QPushButton#b {
  border-radius: 7px;
  background-color: #188bdb;
}

QLabel#sl {
  border-radius: 10px;
  background-color: #17191d;
  font-size: 21px;
  padding: 8px;
}

QLabel#slf {
  border-radius: 10px;
  color: #188bdb;
  background-color: #17191d;
  font-size: 21px;
  padding: 8px;
}