QFrame#root {
    background-color:#393E46;
    border-radius: 10;
}

QLineEdit#input {
    border: none;
    color: #EEEEEE;
    background-color: transparent;
}

QPushButton#btn {
    border: none;
    background-color: transparent;
}
QFrame#root2{
    background-color:#393E46;
    border-radius: 10;
}

QLineEdit#input2 {
    border: none;
    color: #EEEEEE;
    background-color: transparent;
}

QPushButton#btn2 {
    border: none;
    background-color: transparent;
}
QPushButton#register{
    background-color: #185ADB;
    color: white;
    font-weight: bold;
    border-radius: 25;
    font-size: 18px;
}
QLabel#down1{
    color: white;
    font-weight: bold;
    font-size: 14px;
}
QLabel#down2{
    color: #188BDB;
    font-weight: bold;
    font-size: 14px;
}


