QPushButton#register{
    background-color: #185ADB;
    color: white;
    font-weight: bold;
    border-radius: 25;
    font-size: 18px;
}

QLabel#down{
    color: white;
    font-weight: bold;
    font-size: 14px;
}

QPushButton#login{
    border: none;
    color: #188BDB;
    font-weight: bold;
    font-size: 14px;
}