QFrame#top_frame {
    background-color: #232931;
}

QFrame#bottom_frame {
    background-color: #393E46;
}

QPushButton#swap_button{
    border-radius: 10px;
    background-color: #188bdb;
}

QLineEdit#LineToTranslate{
    border: none;
    background-color: transparent;
    color: #EEEEEE;
    padding: 8px;
}

QLabel#label{
    background-color: transparent;
    border: none;
    padding: 8px;
    color: #EEEEEE;
}

QPushButton#show_history {
    border: none;
    color: #00ADB5;
    font-weight: bold;
    background-color: transparent;
}