QFrame#button_frame {
    background-color: #393E46;

}
QPushButton#swap_button{
    border-radius: 10px;
    background-color: #188bdb;
}
QLineEdit#LineToTranslate{
    border: none;
    background-color: transparent;
    color: #EEEEEE;
    padding: 8px;
}